@using CourseManagementSystem.Data

@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Our Website!</h2>

<p>This is the home page of our web application. Feel free to explore and navigate through the site.</p>
