@model StudentManagement.Models.Student

<h2>Détails Étudiant</h2>

<div>
    <h4>Information Étudiant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Prenom :</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>
        <dt class="col-sm-2">Nom :</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifier</a>
    <a asp-action="Index" class="btn btn-secondary">Retour a la liste</a>
</div>
