@model StudentManagement.Models.Student

<div style="max-width: 960px; margin: 0 auto;">
    <h2 style="margin-bottom: 20px;">Détails Étudiant</h2>

    <div>
        <h4>Information Étudiant</h4>
        <hr />
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Prenom :</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th scope="row">Nom :</th>
                    <td>@Model.LastName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href='@Url.Action("Edit", new { id = Model.Id })' class="btn btn-primary" style="margin-right: 10px;">Modifier</a>
        <a href='@Url.Action("Index")' class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>