@model CourseManagement.Models.Course

<h2>Course Details</h2>

<div>
    <h4>Course Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Title:</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Description:</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-10">@Model.StatusC</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
